*{
    margin: 0;
    padding: 0;
    font-family: "Oxanium", sans-serif;
    font-weight: 500;
}
body{
    background-color: #000214;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    overflow: hidden;
}
.stats-container{
    border: 2px solid #828dff;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    gap: 20px;
    width: 450px;
    justify-content: space-between;
}
.stats-description{
    width: 320px;
}
.stats-numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #828dff;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 35px;
    font-weight: bolder;
}
.progressBar-container{
    background-color: #1a2052;
    height: 10px;
    border-radius: 10px;
    margin-top: 30px;
}
.progressBar{
    width: 0%;
    background-color: #828dff;
    height: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
form{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
}
input{
    height: 45px;
    width: 500px;
    background-color: #171c48;
    border-radius: 10px;
    border: 2px solid #828dff;
    text-align: center;
    outline: none;
    font-size: 16px;
    color: white;
}
.haha{
    position: relative;
}
button{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    font-size: 30px;
    background-color: #828dff;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
svg{
    height: 30px;
    width: 30px;
    cursor: pointer;
    padding-right: 10px;
}
.taskItems{
    height: 50px;
    width: 480px;
    background-color: #171c48;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 10px;
    border-radius: 5px;
}
input::placeholder{
    color: #e1e1e1;
    opacity: 0.9;
}
.ctype{
    height: 15px;
    width: 15px;
    border: none;
    cursor: pointer;
}
.taskText{
    display: flex;
    align-items: center;
    justify-content: center;
}
.taskss{
    padding-left: 10px;
}

ul{
    margin-top: 10px;
}
ul li{
    margin-top: 10px;
    list-style-type: none;
}
.ss{
    text-decoration: line-through;
    color: #828dff;
}
.cover{
    border: 2px solid #828dff;
    height: 80vh;
    width: 80vh;
    border-radius: 20px;
    overflow: auto;
    background-color: #000322;
    scrollbar-width: none;
    padding-bottom: 20px;
}
.addList{
    position: absolute;
    right: -1px;
    bottom: -1px;
    scale: 0.8;
}
.p{
    display: inline;
    padding-top: 40px;
    opacity: 0.8;
    color: #e1e1e1;
}
img{
    height: 150px;
    width: 150px;
    opacity: 0.9;
}